:root {
  font-size: 62.5%; /* root font size of 10px */
  margin: 0;
  --light: rgb(254, 233, 189);
  --dark: #1b1a27;
  --green: rgba(41,125,67);
  --hacker-green: #00df12;
  --subtitle-color: #969696;
  --medium-font-weight: 500;
  --nav-font-weight: 600;
  --transition-function: cubic-bezier(0.19, 1, 0.22, 1);
  background-color: black;
}

@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla";
  src: url(fonts/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lobster";
  src: url(fonts/Lobster-Regular.ttf);
}

@keyframes slideOutLeft {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* GLOBAL STYLES */
body {
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--dark);
}

h1 {
  font-size: 4.8rem;
  font-weight: var(--nav-font-weight);
  margin: 0;
}

h3 {
  font-size: 3.2rem;
  margin: 0;
}

h4 {
  font-size: 2.4rem;
  margin: 0;
}

h5 {
  font-size: 1.8rem;
  margin: 0;
}

h6 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--subtitle-color);
}

p {
  font-size: 1.8rem;
  line-height: 30px;
  margin: 0;
  font-family: "Karla", "Rubik", Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
}

ul > a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVIGATION */
nav {
  background-color: black;
  font-weight: var(--nav-font-weight);
  width: 90%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 3;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  width: 48px;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: right;
  margin: 0;
  align-items: center;
}

nav ul li {
  margin: 0 40px;
  font-size: 2.4rem;
  display: inline;
}

nav ul li:last-child {
  margin-right: 0px;
}

nav ul a {
  display: flex;
  color: white;
  text-decoration: none;
}

nav ul a:hover {
  transition: ease .3s;
  color: var(--subtitle-color);
}

.active {
	border-bottom: 2px solid white;
}

nav ul a:hover .active {
  transition: ease .3s;
	border-color: var(--subtitle-color);
}

.hamburger {
  display: none;
}

/* Colorful play hover effect */
#play:hover .letter:nth-child(1) {
  color: red;
  transition: ease .3s;
}

#play:hover .letter:nth-child(2) {
  color: orange;
  transition: ease .3s;
}

#play:hover .letter:nth-child(3) {
  color: green;
  transition: ease .3s;
}

#play:hover .letter:nth-child(4) {
  color: skyblue;
  transition: ease .3s;
}

/* FOOTER */
footer {
  background-color: black;
  width: 90%;
  height: 50px;
  padding: 0 5%;
  display: flex;
  overflow: hidden;
  align-items: center;  /*centers on y */
  justify-content: space-between;
}

/* SECTION STYLES */
.section-heading {
  text-align: center;
  padding-bottom: 120px;
  margin: 0;
}

.img-fit {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

/* HERO SECTION */
#hero {
  height: 100vh;
}

.side {
  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  overflow: hidden;
  position: absolute;
}

.side .title {
  color: white;
  font-size: 8vw;
  margin: 0 15vw;
  width: 70vw;
}

.fancy {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: 1.3em;
  line-height: .8em;
}

#left-side {
  background-color: var(--light);
  z-index: 2;
  /* Starting animation */
  animation-name: slideOutLeft;
  animation-timing-function: var(--transition-function);
  animation-delay: .2s;
  animation-duration: 2.5s;
  width: 100%;
  height: 100vh;
}

#left-side .title {
  color: var(--dark);
}

#left-side .fancy {
  color: var(--green);
}

#right-side {
  background-color: var(--dark);
  height: 100vh;
}

#right-side .fancy {
  color: var(--hacker-green);
}

/* WORK SECTION */
#work {
  padding: 144px 0;
}

.work-item {
  margin: 0 72px 120px;
}

.work-item:last-child {
  margin-bottom: 0;
}

.work-thumb {
  overflow: hidden;
  cursor: pointer;
}

.work-thumb img {
  transition: var(--transition-function) 1s;
  transform: scale(1);
}

.work-thumb img:hover {
  transition: var(--transition-function) 1s;
  transform: scale(1.05);
}

.work-info {
  margin-top: 32px;
  padding-left: 32px;
  display: grid;
  grid-template-columns: auto 80ch;
}

.work-title {
  display: flex;
  flex-direction: column;
}

.work-caption {
  color: var(--subtitle-color);
  margin-top: 8px;
}

.work-description {
  margin: 0;
  align-self: center;
  justify-self: center;
  font-weight: var(--medium-font-weight);
  color: var(--subtitle-color);
  padding-right: 32px;
  grid-column-start: 2;
}

/* ABOUT PAGE */
#about {
  margin: 0 72px;
  padding: 144px 0;
}

#about > h1 {
  text-align: center;
  font-size: 6.4rem;
  margin-bottom: 56px;
}

.about {
  display: grid;
  grid-template-columns: 45vw 10vw auto;
}

.about-image-fit {
  width: 100%;
  object-fit: cover;
}

.about-content {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-description {
  margin-top: 16px;
  color: var(--subtitle-color);
}

#values {
  margin: 0 144px;
}

.value-item {
  padding: 144px 72px;
}

.value-item p {
  font-size: 2.4rem;
  line-height: 48px;
}

.neon {
  text-align: center;
  letter-spacing: 5px;
  font-size: 13rem;
  font-weight: 400;
  margin-bottom: 56px;
}

.value-item:nth-child(1) .neon {
  color: #FFD5FF;
  text-shadow: 
    1px 0px 4px #FFD5FF, 
    2px 0px 4px #FFD5FF, 
    3px 0px 4px #FFD5FF, 
    2px 0px 3px #D42CCA, 
    2px 3px 15px #D42CCA, 
    2px 0px 15px, 
    5px 0px 125px, 
    20px 0vw 200px #D42CCA,
    40px 0vw 200px #D42CCA;
}

.value-item:nth-child(2) .neon {
  color: #f3fe00;
  text-shadow: 
    1px 0px 4px #f3fe00, 
    2px 0px 4px #f3fe00, 
    3px 0px 4px #f3fe00, 
    2px 0px 3px #dce52e, 
    2px 3px 15px #dce52e, 
    2px 0px 15px, 
    5px 0px 125px, 
    20px 0vw 200px #dce52e,
    40px 0vw 200px #dce52e;
}

.value-item:nth-child(3) .neon {
  color: #01ffff;
  text-shadow: 
    1px 0px 4px #01ffff, 
    2px 0px 4px #01ffff, 
    3px 0px 4px #01ffff, 
    2px 0px 3px #2fe6e6, 
    2px 3px 15px #2fe6e6, 
    2px 0px 15px, 
    5px 0px 125px, 
    20px 0vw 200px #2fe6e6,
    40px 0vw 200px #2fe6e6;
}

/* Flicker animation */
@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: .3;
  }
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

/* TABLET */
@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 2.4em;
  }

  p {
    font-size: 1.6em;
  }

  .section-heading {
    padding-bottom: 80px;
  }

  .img-fit {
    height: 50vh;
  }

  #work {
    padding: 120px 0;
  }
  
  .work-item {
    margin: 0 48px 96px;
  }

  .work-info {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .work-description {
    padding-right: 0;
    align-self: auto;
    margin-top: 16px;
  }

  #about {
    padding: 112px 0;
    margin: 0 56px;
  }

  #about > h1 {
    width: auto;
    font-size: 5.6em;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about-image-fit {
    height: 70vh;
    object-fit: contain;
  }

  .about-content {
    margin-top: 48px;
  }

  #values {
    margin: 0;
  }

  .value-item {
    padding: 144px 56px;
  }

  .neon {
    font-size: 9rem;
    margin-bottom: 48px;
  }
}

/* MOBILE and below */
@media only screen and (max-width: 700px) {

  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
    align-self: center;
  }
  
  .hamburger img {
    height: 40px;
    width: 40px;
  }

  .img-fit {
    height: 30vh;
  }

  .section-heading {
    padding-bottom: 48px;
  }

  #work {
    padding: 88px 0;
  }

  .work-item {
    margin: 0 24px 56px;
  }

  .work-info {
    padding-left: 0;
    margin-top: 16px;
  }

  #about {
    padding: 88px 0;
    margin: 0 24px;
  }

 #about > h1 {
  font-size: 4.8em;
  width: 100%;
  margin: 0 0 56px;
 }

 .neon {
  font-size: 5rem;
 }

 .value-item {
  padding: 104px 36px;
}

 .value-item p {
  font-size: 1.8rem;
  line-height: 36px;
}
}